# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Directories
build
.vscode

# XML test file
test.xml

# LaTeX compilator files
docs/manual/manual.aux
docs/manual/manual.log
docs/manual/manual.synctex.gz
docs/manual/manual.pdf
docs/manual/manual.toc
